include ./../rate-button/rate-button.pug
mixin card-room(params={})
    -const {photoLink='#',numberRoom='',price='',isLuxe=false,rate=0,reviews=0}=params;
    .card-room
        img.card-room__photo(src=photoLink,alt='Photo of the room')
        div.card-room__details
            span.card-room__details__number='№'+numberRoom
                if isLuxe
                    span.card-room__details__luxe люкс
            span.room-price=price+'₽ в сутки'
        .card-room__rating
            +rate-button({rate:rate})
            span.reviews=reviews+' '+' отзывов'
