include ./../rate-button/rate-button.pug
mixin card-room(params={})
    -const {photoLink='#',numberRoom='',price='',isLuxe=false,rate=0,reviews=0}=params;
    .card-room
        .card-room__photo-section
            img.room-photo(src=photoLink,alt='Photo of the room')
            .card-room__controls
                i.material-icons.button-prev chevron_left
                i.material-icons.button-next chevron_right
            .card-room__slider
                ul.card-room__slider-markers
                    li.card-room__slider-marker.card-room__slider-marker_active(data-value=1)
                    li.card-room__slider-marker(data-value=2)
                    li.card-room__slider-marker(data-value=3)
                    li.card-room__slider-marker(data-value=4)
        .card-room__details-container
            div.card-room__details
                span.card-room__details__number=numberRoom
                    if isLuxe
                        span.card-room__details__luxe люкс
                p.room-price= price+'₽'
                    span.thin-text=' в сутки'
            .card-room__rating
                +rate-button({rate:rate})
                p.reviews=reviews
                    span.thin-text=' Отзывов'
