include ./../dropdown-date/dropdown-date.pug
include ./../dropdown-guests/dropdown-guests.pug
include ./../button/button.pug
mixin room-reservation(params={})
    form.form.form-reservation
        .form-reservation__header
            h2.form-reservation__roomNumber='888'
                    span.form-reservation__luxe=' Люкс'
            p.form-reservation__price='9990₽' 
                span.thin-text=' в сутки'
        +dropdown-date({mods:'twoFields'})
        +dropdown-guests
        div.form-reservation__price-details
            .price-details__item
                .price-details__name
                    p='9990₽ х 4 суток ' 
                .price-details__price= '39 960₽'
            .price-details__item
                .price-details__name
                    p='Сбор за услуги: скидка 2 179₽'
                    img(class='icon-info' src='assets/img/info.svg' alt='Icon-info')
                .price-details__price= '0₽'
            .price-details__item
                .price-details__name
                    p='Сбор за дополнительные услуги'
                    img(class='icon-info' src='assets/img/info.svg' alt='Icon-info')
                .price-details__price='300₽'
        div.form-reservation__resultPrice
            span='Итого'
            span.rectangle
            span.form-reservation__resultPrice__price='38 081₽'
        +button({mods:'bigFull',text:'Забронировать',arrowIcon:true})
    
    
            