mixin navigation(params={})
    -const {mods=''}=params;
    //-доступные значения mods:'mobile','vertical'
    -const className = 'navigation';
    -
        let modsClasses = '';
            if (mods){
                const modsList= mods.split(',');
                for(let i = 0; i < modsList.length;i++){
                     modsClasses=modsClasses+' '+className+'_'+modsList[i];
                    }
                }
    //-миксин для создания пунктов навигации
    mixin navigation-item(params={})
        -const {mods='',ancor='',href="#"}=params;
            //-доступные значения mods: 'withSub','active'
        -const className = 'navigation-item';
        -
         let modsClasses = '';
            if (mods){
                const modsList= mods.split(',');
                for(let i = 0; i < modsList.length;i++){
                    modsClasses=modsClasses+' '+className+'_'+modsList[i];
                 }
            }
        
        div(class=className+modsClasses)
            a(class=className+"__link" ,href=href)=ancor
            - if (mods.indexOf('withSub')!==-1)
                i.material-icons expand_more
    //-тело миксина navigation
    div(class=className+modsClasses)
                    block 
