include ./../button/button.pug

mixin dropdown(params={})
    -const{mods='',textLabel ='',items=[],defaultText='',controls=false}=params;
    -const className = 'dropdown';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    //-миксин для создания элемента вып.меню дропдауна
    mixin dropdown-option(params={})
        -const {name,label,names}=params;
        div(class="dropdown__menu__option",data-id=name,data-names=names)
            p.dropdown__menu__option__name=label 
            .dropdown__mwenu__option__controls
                span.button_decrement -
                span.control__counter(data-count=0) 0
                span.button_increment +

    .dropdown-container
        p.dropdown__label=textLabel
        .dropdown(class=modsClasses data-defaultText=defaultText)
            p.dropdown__selection
                i.material-icons expand_more
            .dropdown__menu
                each item in items
                    -const {name,label,names}=item;
                    +dropdown-option({name,label,names})
            
                if(controls)
                    .controls
                        .button-reset.hidden
                            +button({mods:'link',text:'Очистить'})
                        .button-apply
                            +button({mods:'link',text:'Применить'})
    
    
                