include ./../button/button.pug

mixin dropdown(params={})
    -const{mods='',textLabel ='',items=[],defaultText='',controls=false}=params;
    -const className = 'dropdown';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    //-миксин для создания элемента вып.меню дропдауна
    mixin dropdown-option(params={})
        -const {name,label,names,count=0}=params;
        div(class="dropdown__menu__option",data-id=name,data-names=names)
            p.dropdown__menu__option__item=label 
            .dropdown__menu__option__controls
                .button.button_decrement -
                .counter(data-count=count)=count
                .button.button_increment +

    .dropdown-container
        p.dropdown__label=textLabel
        .dropdown(class=modsClasses data-defaultText=defaultText)
            p.dropdown__selection
            i.material-icons expand_more
            .dropdown__menu
                each item in items
                    -const {name,label,names}=item;
                    +dropdown-option({name:name,label:label,names:names})

                if(controls)
                    .controls
                        .button-reset.hidden
                            +button({mods:'link',text:'Очистить'})
                        .button-apply
                            +button({mods:'link',text:'Применить'})


