include ./../button/button.pug
mixin dropdown(params={})
    -const{mods='',textLabel ='',items=[],defaultText='',controls=false}=params;
    -const className = 'dropdown';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    .dropdown
        p.dropdown__label=textLabel
        .iqdropdown(class=modsClasses data-defaultText=defaultText)
            p.iqdropdown-selection
                i.material-icons expand_more
            .iqdropdown-menu
                each item in items
                    -const {name,label,nouns}=item;
                    div(class="iqdropdown-menu-option",data-id=name,data-nouns=nouns)  
                        p.iqdropdown-item=label
                if(controls)
                    .controls
                        .button-reset.hidden
                            +button({mods:'link',text:'Очистить'})
                        .button-apply
                            +button({mods:'link',text:'Применить'})
                