mixin dropdown(params={})
    -const{mods='',textLabel ='',placeholder='',buttons=false}=params;
    //-возможные модификации guests и furniture
    -const className = 'dropdown';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
        let items=[];
        if (mods=='guests'){
            items=['Взрослые','Дети','Младенцы'];
        }else{
            items=['Спальни','Кровати','Ванные комнаты'];
        }

    .dropdown__label=textLabel
        .custom.iqdropdown(class=modsClasses)
            p.dropdown__selection
            i.material-icons expand_more
            .iqdropdown-menu
                for item in items
                    div(
                        class="iqdropdown-menu-option"
                        data-id="minor"
                        data-defaultcount="0"
                        data-mincount="0")  
                    p.iqdropdown-item=item