include ./../button/button.pug
mixin dropdown(params={})
    -const{mods='',textLabel ='',placeholder='',controls=false}=params;
    //-возможные модификации guests и furniture
    -const className = 'dropdown';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
        let items=[];
        if (mods=='guests'){
            items=['Взрослые','Дети','Младенцы'];
        }else{
            items=['Спальни','Кровати','Ванные комнаты'];
        }

    .dropdown
        p.dropdown__label=textLabel
        .iqdropdown(class=modsClasses)
            p.dropdown-selection
            i.material-icons expand_more
            .iqdropdown-menu
                for item in items
                    div(class="iqdropdown-menu-option",data-id=name)  
                        p.iqdropdown-item=item
                if(controls)
                    .controls
                        .button-reset.hidden
                            +button({mods:'link',text:'Очистить'})
                        .button-apply
                            +button({mods:'link',text:'Применить'})
                