mixin dropdown-date(params={})
    -const {mods='', field_one={textLabel:"Прибытие",placeholder:'ДД.ММ.ГГГГ',value:''},field_two={textLabel:"Выезд",placeholder:'ДД.ММ.ГГГГ',value:''}}=params;
    -const className = 'dropdown-date';
    //-mods:'filterDate'
    -
        let modsClasses = '';
            if (mods){
                const modsList= mods.split(',');
                for(let i = 0; i < modsList.length;i++){
                    modsClasses=modsClasses+' '+className+'_'+modsList[i];
                }
            }
    if(mods=='twoFields')
        .dropdown-date(class=modsClasses+" js-dropdown-date" )
            label.dropdown-date__label
                p=field_one.textLabel
                input(class="js-dropdown-date__start", placeholder=field_one.value||field_one.placeholder, value=field_one.value, data-range="true" data-multiple-dates-separator=" - " readonly)
                i.material-icons expand_more
            label.dropdown-date__label
                p=field_two.textLabel
                input(class="js-dropdown-date__end", placeholder=field_two.value||field_two.placeholder, value=field_two.value readonly)
                i.material-icons expand_more

    else if(mods=='filterDate')
        .dropdown-date(class=modsClasses)
            label.dropdown-date__label
                p=field_one.textLabel
                input.datepicker-here(placeholder='ДД.ММ.ГГГГ - ДД.ММ.ГГГГ'||(field_one.value+' - '+field_two.value),value='' range=true data-multiple-dates-separator=" - ")
                i.material-icons expand_more
    else 
        .dropdown-date(class=modsClasses)
            label.dropdown-date__label
                label.dropdown-date__label
                p=field_one.textLabel
                input( placeholder=field_one.value||field_one.placeholder, value=field_one.value readonly)
                i.material-icons expand_more
    