mixin dropdown-date(params={})
    -const {mods='',range="false",fields=['Прибытие','Выезд'],values=['',''],inline="false"}=params;
    -const placeholder = (range&&!mods==='twoFields')? 'ДД.ММ.ГГГГ - ДД.ММ.ГГГГ' : 'ДД.ММ.ГГГГ';
    -const className = 'dropdown-date';
    -
        let modsClasses = '';
            if (mods){
                const modsList= mods.split(',');
                for(let i = 0; i < modsList.length;i++){
                    modsClasses=modsClasses+' '+className+'_'+modsList[i];
                }
            }


    if(mods=='twoFields')
        .dropdown-date(class=modsClasses+" js-dropdown-date" )
            label.dropdown-date__label
                p.text-label=fields[0]
                input.dropdown-date__input(class="js-dropdown-date__start",placeholder=placeholder,  value=values[0]||placeholder, data-range="true" data-multiple-dates-separator=" - " readonly)
                i.material-icons expand_more
            label.dropdown-date__label
                p.text-label=fields[1]
                input.dropdown-date__input(class="js-dropdown-date__end",placeholder=placeholder,  value=values[1]||placeholder readonly)
                i.material-icons expand_more
    else 
        .dropdown-date(class=modsClasses+" js-dropdown-date")
            label.dropdown-date__label
                label.dropdown-date__label
                p=fields[0]
                input.dropdown-date__input(placeholder=placeholder, value=values[0]||placeholder, data-range=range, data-multiple-dates-separator=range?" - ":null, data-inline=inline , readonly)
                if(range==="true")
                    //i.material-icons expand_more
