mixin dropdown-date(params={})
    -const {mods='', field_one={textLabel:"",placeholder:'ДД.ММ.ГГГГ',value:''},field_two={textLabel:"",placeholder:'ДД.ММ.ГГГГ',value:''}}=params;
    -const className = 'dropdown-date';
    -
        let modsClasses = '';
            if (mods){
                const modsList= mods.split(',');
                for(let i = 0; i < modsList.length;i++){
                    modsClasses=modsClasses+' '+className+'_'+modsList[i];
                }
            }
    .dropdown-date(class=modsClasses+" js-dropdown-date" )
        if(mods=='twoFields')
            label.dropdown-date__label
                p=field_one.textLabel
                input(class="js-dropdown-date__start", placeholder=field_one.value||field_one.placeholder, value=field_one.value, data-range="true" data-multiple-dates-separator=" - " readonly)
                i.material-icons expand_more
            label.dropdown-date__label
                p=field_two.textLabel
                input(class="js-dropdown-date__end", placeholder=field_two.value||field_two.placeholder, value=field_two.value readonly)
                i.material-icons expand_more


        else 
            label.dropdown-date__label
                p=field_one.textLabel
                input.datepicker-here(placeholder=field_one.value||field_one.placeholder,value=field_one.value)
                //-i.material-icons expand_more
