include ./../field/field.pug
mixin subscribe(params={})
    -const {textLabel='',name='email',type='text',value='',placeholder=''}=params;
        label.subscribe-container
            p.subscribe__label=textLabel
            input(class='subscribe',type=type,name=name,value=value,placeholder=placeholder||value,disabled=disabled)
            i.material-icons arrow_forward