mixin toggle(params={})
    -const{textLabel='',checked=false}=params;
    -const className = 'toggle-button';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    label(class=className+'__label')
        p=textLabel
        input(type='checkbox' checked=checked)
        span.slider.round