mixin checkbox(params={})
  -const{textLabel='',name,value,checked=false,mods='',desc=''}=params;
  -const className = 'checkbox';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
   
    if(mods=='rich')
      div(class='rich-checkbox-wrap')
        label(class=className+modsClasses)
          input(class=className+'__input', type='checkbox',name=name,checked=checked, value=value)
          span(class=className+'__box')
          p.checkbox__text-label=textLabel
        div.checkbox__description=desc
    else 
      label(class=className+modsClasses)
        input(class=className+'__input', type='checkbox',name=name,checked=checked, value=value)
        span(class=className+'__box')
        p.checkbox__text-label=textLabel
      
//-+checkbox({textLabel:'text',name:1,value:2,checked:true,mods:'rich'})