mixin checkbox(params={})
  -const{textLabel='',name,value,checked=false,mods='',header=''}=params;
  -const className = 'checkbox';
    -
     let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
            }
        }
    label(class=className+'__label')
      input(class=className+modsClasses, type='checkbox',name=name,checked=checked, value=value)
      span(class=className+'__box')
      span=textLabel
//-+checkbox({textLabel:'text',name:1,value:2,checked:true,mods:'rich'})