include ./../logo/logo.pug
include ./../socials/socials.pug
mixin footer(params={})
    -const {mods='',footerText='',copyright=''}=params;
    //-mods: withWidgets
    -const className = 'footer';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
                }
            }
    div(class=className+modsClasses)
        if (mods!=='withWidgets')
            .footer-bar
                +logo
                div.footer-text=footerText
                +social-icons
        else
            .footer-container
                .footer-bar
                    .footer_-brand
                        +logo
                        div.footer-text=footerText
                
                    .footer-bar__nav='nav'
                            
                    .footer-bar__about='about'
                    .footer-bar__support='support'
                    .footer-bar__subscribe
                .footer__footer
                    div.footer__copy=copyright
                    +social-icons
        



