include ./../logo/logo.pug
include ./../socials/socials.pug
include ./../subscribe/subscribe.pug
mixin footer(params={})
    -const {mods='',footerText='',copyright='',navItems={},subscribe={}}=params;
    //-mods: withWidgets
    -const className = 'footer';
    -
        let modsClasses = '';
        if (mods){
            const modsList= mods.split(',');
            for(let i = 0; i < modsList.length;i++){
                modsClasses=modsClasses+' '+className+'_'+modsList[i];
                }
            }

    div(class=className+modsClasses)
        if (mods!=='withWidgets')
            .footer-bar
                +logo
                div.footer-text=footerText
                +social-icons
        else
            .footer-container
                .footer-bar
                    .footer-bar__brand
                        +logo
                        div.footer-text=footerText
                    each navItem in navItems
                        .footer-bar__nav
                            -const {title,items}=navItem;
                            h3.footer-bar__nav__header=title
                            each item in items
                                -const {text,link}=item;
                                a.footer-bar__nav__link(href=link)=text
                    .footer-bar__subscribe
                        h3.footer-bar__subscribe__header=subscribe.title
                        div.footer-bar__subscribe__text=subscribe.text
                        +subscribe({placeholder:'Your email address'})
                hr(class="separate")
                .footer__footer
                    div.footer__copy=copyright
                    +social-icons
        



